body{
    background: #FAF8F6;
    font-family: 'Epilogue', sans-serif;
    color: #172339;
    position: relative;
}
.padre{
    display: flex;
}
a{
    text-decoration: none;
}
header{
    position: absolute;
    width: 1108.85px;
    height: 56px;
    left: 166px;
    top: 50px;
    display: flex;
    justify-content: space-between;
}
.boton{
    padding: 10px;
    border: 1px solid #172339;
    box-sizing: border-box;
    border-radius: 6px;
    /* position: absolute; */
    width: 219px;
    height: 56px;
    left: 1055.85px;
    top: 50px;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    color: #172339;
}
.container-uno{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 600px;
    left: 165px;
    top: 173px;
}
.letras{
    font-size: 72px;
    font-weight: 700;
    width: 635px;
    height: 156px;
    left: 165px;
    top: 276px;
    order: 1;
    
}
.parrafo{
    font-size: 18px; 
    line-height: 32px;
    letter-spacing: 0.1px;
    position: absolute;
    width: 350px;
    height: 93px;
    left: 165px;
    top: 503px;
    order: 2;
}
.imagenes{
    position: absolute;
    width: 350px;
    height: 600px;
    left: 639px;
    top: 173px;
    align-items: center;
    order: 3;
}
.record{
    position: absolute;
    width: 190px;
    height: 375px;
    left: 1085px;
    top: 279px;
    
}
.container-dos{
    position: absolute;
    width: 1109px;
    height: 589.56px;
    left: 165px;
    top: 927.44px;
}
footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1109px;
    height: 32px;
    left: 165px;
    top: 1612px;
}